<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">API Products</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-file-code text-dark"> </i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Publish </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                API Products
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-default text-white" (click)="navigatePage('/admin/publish/products/add')">
                        <i class="fas fa-plus"></i>
                        API Product
                    </a>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Display Name</th>
                            <th scope="col">Environment</th>
                            <th scope="col">Description</th>
                            <th scope="col">Modified Date</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        <tr>
                            <th scope="row">Product 1</th>
                            <td>
                                prod
                            </td>
                            <td>
                                This is an API product
                            </td>
                            <td>
                                21/03/2020
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Product 2</th>
                            <td>
                                test
                            </td>
                            <td>
                                This is an API product
                            </td>
                            <td>
                                29/03/2020
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Product 3</th>
                            <td>
                                prod, test
                            </td>
                            <td>
                                This is an API product
                            </td>
                            <td>
                                11/04/2020
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>