<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Data management
          </h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-dark"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Data Steward
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Data management
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
                    href="javascript:void(0)"
                    class="btn btn-sm btn-default"
                    (click)="openModal(adddatasource, undefined)"
                  >
                    Add DataBase
                  </a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Filter Data</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Patient Name</label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Patient No</label>
                <input class="form-control" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Nric</label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Organisation No</label>
                <input class="form-control" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Supplier </label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Vendor</label>
                <input class="form-control" type="text" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Employee ID </label>
                <input class="form-control" type="text" />
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label class="form-control-label">Asset</label>
                <input class="form-control" type="text" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-center">
            <button
              class="btn btn-default"
              type="button"
              (click)="successAlert('search')"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col"><h3 class="m-0 pt-1">Data</h3></div>
            <div class="col text-right">
              <button
                class="btn btn-default"
                (click)="successAlert('export data')"
              >
                Export
              </button>
            </div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                  records
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <!-- <div id="datatable_filter" class="dataTables_filter">
                      <label>
                        <input
                          type="search"
                          class="form-control form-control-sm"
                          placeholder="Search records"
                          aria-controls="datatable"
                          (keyup)="filterTable($event)"
                        />
                      </label>
                    </div> -->
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listCustomer"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <input type="checkbox" /><br />
                <span>Patient Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <input type="checkbox" /><br />
                <span>Patient No</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.patient_no }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <input type="checkbox" /><br />
                <span>Patient Bed</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.patient_bed }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <input type="checkbox" /><br />
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span
                  class="badge badge-pill badge-success"
                  *ngIf="row.status == 'wd'"
                  >Warded</span
                >
                <span
                  class="badge badge-pill badge-primary"
                  *ngIf="row.status == 'dc'"
                  >Discharged</span
                >
                <span
                  class="badge badge-pill badge-danger"
                  *ngIf="row.status == 'dd'"
                  >Dead</span
                >
              </ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      <span> Action</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <a
                        (click)="openModal(editdatasource, row)"
                        style="cursor: pointer;"
                      >
                        <i class="fas fa-file-alt fa-2x"></i>
                      </a>
                    </ng-template>
                  </ngx-datatable-column> -->
          </ngx-datatable>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>

    <ng-template #adddatasource>
      <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
          Add New Database
        </h6>

        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="closeModal()"
        >
          <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="addNewComplaintForm">
          <div class="form-group">
            <label class="form-control-label">Database Name</label>
            <input
              class="form-control"
              placeholder="Enter Name"
              formControlName="complaint_type"
              type="text"
            />
          </div>

          <div class="form-group">
            <label class="form-control-label">Host / IP Address</label>
            <input
              class="form-control"
              placeholder="Enter Host/IP"
              formControlName="description"
              type="text"
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-center">
          <button
            class="btn btn-default"
            type="submit"
            (click)="successAlert('add new database')"
          >
            Save
          </button>

          <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template #editdatasource>
      <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
          Edit Database
        </h6>

        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="closeModal()"
        >
          <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="addNewComplaintForm">
          <div class="form-group">
            <label class="form-control-label">Database Name</label>
            <input class="form-control" type="text" value="Master Data 1" />
          </div>

          <div class="form-group">
            <label class="form-control-label">Host / IP Address</label>
            <input
              class="form-control"
              placeholder="Enter Host/IP"
              type="text"
              value="192.0.0.100"
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-center">
          <button
            class="btn btn-default"
            type="submit"
            (click)="successAlert('edit database')"
          >
            Save
          </button>

          <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
