<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            PDPA Support
          </h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-dark"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Compliance
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                PDPA Support
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
                        href="javascript:void(0)"
                        class="btn btn-sm btn-default"
                        (click)="openModal(adddatasource, undefined)"
                      >
                        Add DataBase
                      </a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><h5 class="h3 mb-0">Access Request</h5></div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> John Michael </a>
                  </h4>
                  <small> Access Patient Medical Record </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> Alex Smith </a>
                  </h4>
                  <small>Access Customer Billing Record </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> Samantha Ivy </a>
                  </h4>
                  <small> Access Patient Billing Record </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> John Michael </a>
                  </h4>
                  <small> Access User Medical Record </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><h5 class="h3 mb-0">Delete Request</h5></div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> John Michael </a>
                  </h4>
                  <small> Delete Duplicate patient column </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> Alex Smith </a>
                  </h4>
                  <small> Delete Duplicate patient column </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> Samantha Ivy </a>
                  </h4>
                  <small> Delete Duplicate patient column </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> John Michael </a>
                  </h4>
                  <small> Delete Duplicate patient column </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><h5 class="h3 mb-0">Update Request</h5></div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> John Michael </a>
                  </h4>
                  <small> Update Vendor Details Record </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> Alex Smith </a>
                  </h4>
                  <small> Update Customer Billing Record </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> Samantha Ivy </a>
                  </h4>
                  <small> Update Patient Medical Record </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/profile.png"
                    />
                  </a>
                </div>

                <div class="col ml--2">
                  <h4 class="mb-0">
                    <a href="javascript:void(0)"> John Michael </a>
                  </h4>

                  <small> Update Patient Medical Record </small>
                </div>

                <div class="col-auto">
                  <button class="btn btn-sm btn-primary" type="button">
                    Approve
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col">
              <h3 class="m-0 pt-1">List Of Approved and Rejected Request</h3>
            </div>
            <div class="col text-right">
              <button
                class="btn btn-default"
                (click)="successAlert('export data')"
              >
                Export
              </button>
            </div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                  records
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <!-- <div id="datatable_filter" class="dataTables_filter">
                          <label>
                            <input
                              type="search"
                              class="form-control form-control-sm"
                              placeholder="Search records"
                              aria-controls="datatable"
                              (keyup)="filterTable($event)"
                            />
                          </label>
                        </div> -->
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listCustomer"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.subject }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span
                  class="badge badge-pill badge-danger"
                  *ngIf="row.status == 'rj'"
                  >Rejected
                </span>
                <span
                  class="badge badge-pill badge-success"
                  *ngIf="row.status == 'ap'"
                  >Approved</span
                >
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Created</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.created_at | date: "dd/MM/yyyy" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span> Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a
                  (click)="openModal(editdatasource, row)"
                  style="cursor: pointer;"
                >
                  <i class="fas fa-file-alt fa-2x"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>

    <ng-template #editdatasource>
      <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
          Edit Database
        </h6>

        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="closeModal()"
        >
          <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header"><h5 class="h3 mb-0">Forum</h5></div>

              <div class="card-header d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <a href="javascript:void(0)">
                    <img class="avatar" src="assets/img/default/profile.png" />
                  </a>

                  <div class="mx-3">
                    <a
                      class="text-dark font-weight-600 text-sm"
                      href="javascript:void(0)"
                    >
                      John Snow
                    </a>

                    <small class="d-block text-muted"> 3 days ago </small>
                  </div>
                </div>

                <div class="text-right ml-auto">
                  <button class="btn btn-sm btn-primary btn-icon" type="button">
                    <span class="btn-inner--icon">
                      <i class="ni ni-fat-add"> </i>
                    </span>

                    <span class="btn-inner--text"> Request </span>
                  </button>
                </div>
              </div>

              <div class="card-body">
                <p class="mb-4">
                  Personal profiles are the perfect way for you to grab their
                  attention and persuade recruiters to continue reading your CV
                  because you’re telling them from the off exactly why they
                  should hire you.
                </p>

                <div class="row align-items-center my-3 pb-3 border-bottom">
                  <div class="col-sm-6">
                    <div class="icon-actions">
                      <a class="like active" href="javascript:void(0)">
                        <i class="ni ni-like-2"> </i>

                        <span class="text-muted"> 150 </span>
                      </a>

                      <a href="javascript:void(0)">
                        <i class="ni ni-chat-round"> </i>

                        <span class="text-muted"> 36 </span>
                      </a>

                      <a href="javascript:void(0)">
                        <i class="ni ni-curved-next"> </i>

                        <span class="text-muted"> 12 </span>
                      </a>
                    </div>
                  </div>

                  <div class="col-sm-6 d-none d-sm-block">
                    <div
                      class="d-flex align-items-center justify-content-sm-end"
                    >
                      <div class="avatar-group">
                        <a
                          class="avatar avatar-xs rounded-circle"
                          tooltip="Jessica Rowland"
                          placement="top"
                          href="javascript:void(0)"
                        >
                          <img
                            alt="Image placeholder"
                            src="assets/img/default/profile.png"
                          />
                        </a>

                        <a
                          class="avatar avatar-xs rounded-circle"
                          tooltip="Audrey Love"
                          placement="top"
                          href="javascript:void(0)"
                        >
                          <img
                            alt="Image placeholder"
                            class="rounded-circle"
                            src="assets/img/default/profile.png"
                          />
                        </a>

                        <a
                          class="avatar avatar-xs rounded-circle"
                          tooltip="Michael Lewis"
                          placement="top"
                          href="javascript:void(0)"
                        >
                          <img
                            alt="Image placeholder"
                            class="rounded-circle"
                            src="assets/img/default/profile.png"
                          />
                        </a>
                      </div>

                      <small class="pl-2 font-weight-bold">
                        and 30+ more
                      </small>
                    </div>
                  </div>
                </div>

                <div class="mb-1">
                  <div class="media media-comment">
                    <img
                      alt="Image placeholder"
                      class="avatar avatar-lg media-comment-avatar rounded-circle"
                      src="assets/img/default/profile.png"
                    />

                    <div class="media-body">
                      <div class="media-comment-text">
                        <h6 class="h5 mt-0">Michael Lewis</h6>

                        <p class="text-sm lh-160">
                          Cras sit amet nibh libero nulla vel metus scelerisque
                          ante sollicitudin. Cras purus odio vestibulum in
                          vulputate viverra turpis.
                        </p>

                        <div class="icon-actions">
                          <a class="like active" href="javascript:void(0)">
                            <i class="ni ni-like-2"> </i>

                            <span class="text-muted"> 3 likes </span>
                          </a>

                          <a href="javascript:void(0)">
                            <i class="ni ni-curved-next"> </i>

                            <span class="text-muted"> 2 shares </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="media media-comment">
                    <img
                      alt="Image placeholder"
                      class="avatar avatar-lg media-comment-avatar rounded-circle"
                      src="assets/img/default/profile.png"
                    />

                    <div class="media-body">
                      <div class="media-comment-text">
                        <h6 class="h5 mt-0">Jessica Stones</h6>

                        <p class="text-sm lh-160">
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel
                          metus scelerisque ante sollicitudin. Cras purus odio,
                          vestibulum in vulputate at, tempus viverra turpis.
                        </p>

                        <div class="icon-actions">
                          <a class="like active" href="javascript:void(0)">
                            <i class="ni ni-like-2"> </i>

                            <span class="text-muted"> 10 likes </span>
                          </a>

                          <a href="javascript:void(0)">
                            <i class="ni ni-curved-next"> </i>

                            <span class="text-muted"> 1 share </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr />

                  <div class="media align-items-center">
                    <img
                      alt="Image placeholder"
                      class="avatar avatar-lg rounded-circle mr-4"
                      src="assets/img/default/profile.png"
                    />

                    <div class="media-body">
                      <form>
                        <textarea
                          class="form-control"
                          placeholder="Write your comment"
                          rows="1"
                        ></textarea>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="text-center">
          <button
            class="btn btn-default"
            type="submit"
            (click)="successAlert('edit database')"
          >
            Save
          </button>

          <button
            class="btn btn-outline-danger ml-auto"
            data-dismiss="modal"
            type="button"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
