<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Developer Programs</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-file-code text-dark"> </i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Publish </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Developer Programs
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Portal</th>
                            <th scope="col">Modified Date</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        <tr>
                            <th scope="row">demo-portal-prototype-1</th>
                            <td>
                                demo-portal-prototype-1
                            </td>
                            <td>
                                21/03/2020
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">demo-portal-prototype-2</th>
                            <td>
                                demo-portal-prototype-2
                            </td>
                            <td>
                                29/03/2020
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">demo-portal-prototype-3</th>
                            <td>
                                demo-portal-prototype-3
                            </td>
                            <td>
                                11/04/2020
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>